body {
    font-family: "EB Garamonnd", serif;
}

table {
    margin: 10px auto;
    border: thin solid rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
}

caption {
    caption-side: bottom;
    padding: 10px;
    margin-top: 5px;
}

thead {
    background-color: black;
    color: white;

    tr:nth-last-child(1) {
            background-color: #333;
        }
}

.span {
    background-color: #000;
}

th, td {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 7px 12px;

}

tbody tr:nth-child(even) {
    background-color: #cccccc;
}

td{
    text-align: center;
}