/* Wide Screen Layout */
@media screen and (max-width: 500px) {
    :root {
        --primary-color: #0a6b0a;
        --secondary-color: #056005;
        --background-color: #ffffff;
        --overlay-background: rgba(255, 255, 255, 0.72);
        --border-radius: 10px;
    }

    section {
        position: static;
        width: auto;
        height: auto;
        margin: 0 auto;
        background-color: var(--background-color);
        padding: 20px;
        font-size: 1rem;
        border: none;
        border-radius: 0;
    }

    /* Main Grid Layout */
    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "hero"
            "data"
            "weather";
        gap: 2rem;
        width: 100%;
        max-width: 1200px;
        margin: 20px auto;
        height: auto;
        padding-bottom: 40px;
    }

    picture {
        grid-area: hero;
    }

    picture img {
        width: 100%;
        height: 420px;
        object-fit: cover;
        border-radius: 0;
        border-bottom: 5px solid var(--primary-color);
    }

    .data-section {
        grid-area: data;
        width: 300px;
        text-align: center;
    }

    .weather-section {
        grid-area: weather;
        width: 300px;
        text-align: center;
    }

    section h2 {
        position: static;
        background: none;
        padding: 0 0 10px 0;
        font-size: 1.4rem;
        margin-bottom: 10px;
        display: inline-block;
        text-align: center;
    }   

    .weather-icon-mobile {
        width: 100px;
        display: block;
        margin: 10px auto 5px auto;
    }

    .weather-section h2::after {
        content: "";

    }

    /* Let UL breathe */
    section ul {
        padding-left: 10px;
    }

    footer {
        font-size: 1rem;
    }
}